body{
    margin:0;
    padding:0;
    font-weight: Century Gothic;
    background: url(bg.jpg)no-repeat;
    background-size: cover;
}
.container{
    height:75vh;
    width:30%;
    background:rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img{
    height: 70px;
    width: 70px;
    background:url("myicon.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container h1{
    color: #fff;
    margin-top: 50px;
    color:rgba(67, 46, 66, 0.842);
}
.container1{
    height:40vh;
    width:35%;
    background:rgba(12, 12, 167, 0.6);
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.container1 h3{
    color: #fff;
    margin-top: 10px;
    color:rgba(82, 5, 52, 0.842);
}
.container1 p{
    color: aquamarine;
    background-position: center;
}
.container2{
    height:40vh;
    width:35%;
    background:rgba(12, 12, 167, 0.6);
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}
.container2 h3{
    color: #fff;
    margin-top: 10px;
    color:rgba(82, 5, 52, 0.842);
}
.container2 p{
    color: aquamarine;
    background-position: center;
}